<form action="/signup" method="post">
    <input type="email" name="InputEmail" id="InputEmail" class="form-control input-sm chat-input" placeholder="Email"/>
    </br>
    <input type="text" name="InputPassword" id="InputPassword" class="form-control input-sm chat-input"
           placeholder="Password"/>
    </br>
    <input type="text" name="InputConfirmPassword" id="InputConfirmPassword" class="form-control input-sm chat-input"
           placeholder="Confirm Password"/>
    </br>
    <div class="wrapper">
        <span class="group-btn">  
            <button type="submit" class="btn btn-danger">SignUp</button>   
        </span>
    </div>
</form>
