<table style="box-sizing:border-box;font-size:14px;width:100%;margin:0" bgcolor="#fffaec">
            <tbody><tr style="box-sizing:border-box;font-size:14px;margin:0">
                <td width="600" style="box-sizing:border-box;font-size:14px;vertical-align:top;display:block!important;max-width:600px!important;clear:both!important;margin:0 auto" valign="top">
                    <div style="box-sizing:border-box;font-size:14px;max-width:600px!important;display:block;margin:0 auto;padding:20px">
                        <table width="100%" cellpadding="0" cellspacing="0" style="box-sizing:border-box;font-size:14px;border-radius:6px;background-color:#fff;margin:0" bgcolor="#fff">
                            <tbody><tr style="box-sizing:border-box;font-size:14px;margin:0">
                                <td style="box-sizing:border-box;font-size:16px;vertical-align:top;font-weight:500;margin:0;padding:40px 30px 0 40px" valign="top">
									<div style="display:inline-flex;margin-bottom:1rem">
                                        <h1 style="margin-top:5px">Logistics Application</h1>
									</div>
                                    <hr>
        						            </td>
                            </tr>
                            <tr style="box-sizing:border-box;font-size:14px;margin:0">
                                <td style="box-sizing:border-box;font-size:14px;vertical-align:top;margin:0;padding:20px 40px 40px 40px" valign="top" colspan="2">
                                    <table width="100%" cellpadding="0" cellspacing="0" style="box-sizing:border-box;font-size:14px;margin:0">
                                        <tbody><tr style="box-sizing:border-box;font-size:14px;margin:0">
                                            <td style="box-sizing:border-box;font-size:16px;line-height:24px;vertical-align:top;margin:0;word-wrap:break-word" valign="top">
                                                Hey <strong>{name}</strong> your booking on <strong>{date}</strong>  is confirmed...!!!
                                                <br>Your ID: <strong>{booking_id}</strong>
<br>
<br>Thanks for Booking!!
<br><a href="/">Click here</a> to go book again.
        									                  </td>
        								                </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                        </tbody></table>
                        <div style="box-sizing:border-box;font-size:14px;clear:both;color:#999;margin:0;padding:20px 40px">
        					          <table width="100%" style="box-sizing:border-box;font-size:14px;margin:0">
                                <tbody><tr style="box-sizing:border-box;font-size:14px;margin:0">
                                    <td style="box-sizing:border-box;font-size:12px;vertical-align:top;color:#888;margin:0" valign="top">
                                        <div>©2020 Logistics Development</div>
                                        </a>
                                    </td>
        						            </tr>
                            </tbody></table>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody></table>
